.direnv/
.envrc
db.sqlite3
__pycache__/
node_modules
.tmp
.sass-cache
.idea/
.DS_Store
.gear_vibesenv/
static/admin/fonts/LICENSE.txt
npm-debug.log
*.pyc
media/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
