{% extends 'base.html' %}

{% block content %}
  <div class="container-fluid">
    Search

    <div class="row">
      <div class="col-lg-6">
        <form action='' method='get'>
          <div class="input-group">
            <input type="search" name="product" id="product" class="form-control" placeholder="Search for a product!">
              <span class="input-group-btn">
                <button class="btn btn-default" type="submit">Go!</button>
              </span>
          </div><!-- /input-group -->
        </form>
      </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->

    <br>

    <div>
      {% for review in reviews %}
        {{ review.product_name }}
      {% empty %}
        <div><p>Oops! Looks like there's nothing here!</p></div>
      {% endfor %}
    </div>


  </div>

  {% csrf_token %}
{% endblock %}
