// DASHBOARD SCSS


// extends
%dash-header-height {
  height: 80vh;
}

%content-height {
  height: 500px;
}


// header

.profile-header {
  @extend %dash-header-height;
  background-color: rgba(23, 31, 44, 1);
}

.profile-header::before {
  content: "";
  position: absolute;
  width: 41%;
  height: 80vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(59, 218, 186, 0.87);
}

.header-content {
  @extend %dash-header-height;
}

#avatar {
  margin-top: 20vh;
  max-height: 542.9px;
}


// content

.dash-content {
  @extend %content-height;
}

.dash-sidebar-wrapper {
  @extend %content-height;
}

// .posts-content {
//   @extend %content-height;
// }
