// DASHBOARD SCSS


// extends
%dash-header-height {
  height: 270px;
}

%content-height {
  height: 500px;
}


// header

.profile-header {
  @extend %dash-header-height;
}

.header-content {
  @extend %dash-header-height;
}

#avatar {
  max-height: 270px;
}


// content

.dash-content {
  @extend %content-height;
}

.dash-sidebar-wrapper {
  @extend %content-height;
}

// .posts-content {
//   @extend %content-height;
// }
